html {
  font-size: 1rem !important;
}

@media only screen and (max-width: 576px) {
  #header {
    height: 2.5rem !important;
    font-size: 0.8rem !important;
  }
  #header .top-bar,
  #header hr,
  #header .logo,
  #header .search {
    display: none !important;
  }
  #hero {
    margin-top: 2.4rem !important;
    height: 30rem !important;
  }
  #services .wrapper {
    background-color: #b39687 !important;
  }
  #think img {
    width: 12rem;
  }
}
#header {
  height: 6rem;
  left: 0;
  z-index: 5 !important;
}

main #hero {
  background-image: url(../images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin-top: 6rem;
  height: 50rem;
  z-index: 1;
}
main #hero::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}
main #hero .content {
  max-width: 40rem;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
main #hero .content .btn {
  border-radius: 2rem;
  transition: background-color 0.5s;
}
main #hero .content .btn:nth-child(1) {
  background-color: #b39687 !important;
}
main #hero .content .btn:nth-child(1):hover {
  color: #fff;
  background-color: #a97e6b !important;
}
main #hero .content .btn:nth-child(2):hover {
  color: #000 !important;
  background-color: #fff;
}
main #about {
  margin: 10rem 0;
}
main #about h4,
main #about a {
  color: #b39687;
}
main #about .img {
  position: relative;
}
main #about .img::before {
  content: "";
  position: absolute;
  background: url(../images/pattern.png) no-repeat;
  top: 0;
  left: 0%;
  width: 60%;
  height: 60%;
  z-index: -1;
}
main #about .img img {
  width: 70%;
  margin: 4rem;
}
main #services {
  background: linear-gradient(135deg, #332e35 0%, #5d5b64 50%);
}
main #services .wrapper {
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.5s;
}
main #services .wrapper a {
  position: absolute;
  bottom: 1rem;
  transition: 0.5s ease;
  visibility: hidden;
}
main #services .wrapper:hover {
  background-color: #b39687;
}
main #services .wrapper:hover a {
  transform: translateX(1rem);
  visibility: visible;
}
main #services .wrapper:hover::after {
  left: 50%;
  visibility: visible;
}
main #services .wrapper::after {
  content: "";
  background: url(../images/horse.webp), no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  transition: 0.5s ease-in-out;
  visibility: hidden;
}
main #services .btn {
  border-radius: 2rem;
  transition: 0.5s;
}
main #services .btn:hover {
  background-color: #fff;
  color: #000 !important;
}
main #think {
  background: linear-gradient(135deg, #332e35 0%, #5d5b64 50%);
}
main #think h6 {
  color: #b39687;
}
main #discover {
  background: linear-gradient(135deg, #332e35 0%, #5d5b64 50%);
}
main #discover h3 {
  color: #b39687;
}
main #testimonial h6 {
  color: #b39687;
}
main #testimonial img {
  border-bottom: 0.2rem solid #b39687;
}
main #appotoach {
  background: linear-gradient(135deg, #332e35 0%, #5d5b64 50%);
}
main #appotoach h6,
main #appotoach a {
  color: #b39687;
}
main #appotoach a {
  border: 1px solid #b39687;
  border-radius: 2rem;
  transition: 0.5s;
}
main #appotoach a:hover {
  color: #fff;
  background-color: #b39687;
}
main #appotoach i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #b39687;
}
main #minds .wrapper img {
  border-bottom: 0.4rem solid #b39687;
}
main #minds .wrapper h6 {
  color: #b39687;
}
main #minds .wrapper i {
  transition: background-color 0.5s;
}
main #minds .wrapper i:hover {
  background-color: #b39687 !important;
}/*# sourceMappingURL=main.css.map */