// XX-Large devices (larger desktops, 1400px and down)
@media only screen and (max-width: 1400px) {
}
// X-Large devices (large desktops, 1200px and down)
@media only screen and (max-width: 1200px) {
}

// Large devices (desktops, 992px and down)
@media only screen and (max-width: 992px) {
}

// Medium devices (tablets, 768px and down)
@media only screen and (max-width: 768px) {
}

// Small devices  (tablets, 576px and down)
@media only screen and (max-width: 576px) {
  #header {
    height: 2.5rem !important;
    font-size: 0.8rem !important;
    .top-bar,
    hr,
    .logo,
    .search {
      display: none !important;
    }
  }
  #hero {
    margin-top: 2.4rem !important;
    height: 30rem !important;
  }
  #services {
    .wrapper {
      background-color: $color-first !important;
    }
  }
}

// Extra Small devices (tablets, 320px and down)
@media only screen and (max-width: 320px) {
}
